#main-nav {
    padding: 10px;
    font-size: 1.4em;
}

ul.nav {
    font-weight: bold;
}

body {
    background-color: floralwhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#body {
    padding: 10px 30px;
    text-align: center;
}

h1 {
    padding-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 1.4em;
}

footer {
  background-color: white;
}

.copyright {
    padding-left: 10px;
    float: left;
}